.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container .mainWrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.container .leftWrapper,
.container .rightWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  position: relative;
  height: 100vh;
  padding: 40px;
  padding-top: 0px;
}

.container .leftWrapper {
  border-right: 1px solid black;
}

.container .nftList {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.NFTCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  border: 1px solid rgb(23, 111, 117);
  margin: 0;
  padding: 10px;
}
.NFTCard h2,
.NFTCard p,
.NFTCard h3 {
  margin: 0;
}

.NFTCard .NFTCardPic {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NFTCard button {
  margin: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
